.dayItem {
  flex-shrink: 0;
  width: 140px;
  margin-right: 0.5rem;
}

.dayButton {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
  position: relative;
  cursor: pointer;
}

.dayDate {
  font-size: 0.75rem;
}

.hasExercises {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #22C55E;
  border-radius: 9999px;
}

.locationSelect {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  margin-top: 0.5rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}
