.historyList {
  list-style: none;
  padding: 0;
}

.historyItem {
  padding: 0.75rem;
  border-bottom: 1px solid #E5E7EB;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editContainer {
  width: 100%;
}

.editInput {
  box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.25);
  appearance: none;
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.5rem;
  color: #4A5568;
  outline: none;
  margin-bottom: 0.5rem;
}

.setContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.editInputSmall {
  box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.25);
  appearance: none;
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
  width: 5rem;
  padding: 0.5rem;
  color: #4A5568;
  outline: none;
  margin-right: 0.5rem;
}

.exerciseTitle {
  font-weight: 600;
  color: #374151;
}

.buttonContainer {
  display: flex;
}

.saveButton {
  background-color: #22C55E;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

.cancelButton {
  background-color: #718096;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.editButton {
  color: #4F46E5;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

.deleteButton {
  color: #EF4444;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.setList {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}

.setListItem {
  color: #4A5568;
}
